<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
  	<typeAlias type="com.web.account.db.AccountVO" alias="account"/> <!-- 별칭부여 -->
  </typeAliases>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
        <property name="username" value="webfinal"/>
        <property name="password" value="webfinal"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="resources/mapper/account.xml"/>
  </mappers>
</configuration>